.dnk_colors_block {
    display: flex;
    align-items: center;
}

.dnk_input_price {
    margin: 10px 0 10px 0;
}

.dnk_circle {
    width: 13px;
    height: 13px;
    margin: 2px 1px;
    /*padding: 1px;*/
    font-weight: 400;
    font-size: 9px;
    background-color: gray;
    border-radius: 50%;
    text-align: center;
}

.dnk_circle:hover,
.dnk_circle:hover span {
    cursor: not-allowed;
}

.dnk_circle.price_selected:hover,
.dnk_circle.dnk_white:hover,
.dnk_circle:hover span {
    cursor: pointer;
}


.dnk_circle_invisible {
    background-color: transparent;
}

.dnk_circle_invisible:hover {
    cursor: auto;
}

.dnk_transparent {
    color: #000000;
    background-color: transparent;
}

.dnk_white {
    color: #000000;
    background-color: #FFFFFF;
}

.dnk_red {
    background-color: #FF0000;
}

.dnk_yellow {
    background-color: #FFFF00;
}

.dnk_green {
    background-color: #009900;
}

.dnk_orange {
    background-color: #FF6600;
}

.dnk_light_blue {
    background-color: #3366FF;
}

.dnk_light_green {
    background-color: #00CC00;
}

.dnk_purple {
    background-color: #CC00CC;
}

.dnk_blue {
    background-color: #3333CC;
}

.dnk_pink {
    background-color: #FF33CC;
}

.dnk_brown {
    background-color: #CC6600;
}

.dnk_green_2 {
    background-color: #339933;
}

.dnk_light_orange {
    background-color: #FF9900;
}

.dnk_blue_2 {
    background-color: #336699;
}

.dnk_center_fake {
    background-color: transparent;
    width: 7px !important;
}

.dnk_right_fake {
    background-color: transparent;
    width: 22px;
}

.dnk_left_fake {
    background-color: transparent;
    width: 17px;
}


.dnk_tooltip {
    position: relative;
    display: inline-block;
}

.dnk_tooltip .tooltiptext-bubble {
    visibility: hidden;
    width: 151px;
    height: 103px;
    background-color: #6B7882;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 0;
    margin-left: -67px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltiptext-bubble.bubble-filter {
    visibility: visible;
    height: 38px;
    width: 145px;
    background-color: #6B7882;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 51%;
    left: 60%;
    opacity: 0;
    transition: opacity 0.3s;
}

.dnk_tooltip .tooltiptext-bubble::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -9px;
    border-width: 8px;
    border-style: solid;
    border-color: #6B7882 transparent transparent transparent;
}

.tooltiptext-bubble.bubble-filter::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 0;
    margin-left: -16px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent #6B7882 transparent transparent;
}


.tooltiptext {
    color: #fff;
}

.tooltiptext {
    font-weight: 100;
    font-size: 12px;
    position: absolute;
}

.tooltiptext-text {
    left: 10px;
}

.tooltiptext-bold {
    font-weight: bold;
}

.tooltiptext-place-info {
    position: absolute;
    top: 25px;
}

.tooltiptext-row-block {
    left: 10px;
}

.tooltiptext-row {
    left: 40px;
}

.tooltiptext-place {
    left: 50px;
}

.tooltiptext-place-block {
    left: 75px;
}

.tooltiptext-status-info {
    top: 75px;
}

.tooltiptext-price {
    left: 45px;
}

.tooltiptext-price-block {
    display: none;
    top: 50px;
    left: 10px;
}
.tooltip-free {
    left: 8px;
}

.tooltip-free-price {
    right: 16px;
}