html, body {
    height: 100%;
}
body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #fff;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 190%;
}


.checkout-block {
    display: flex;
    flex-direction: column;
}

[type=search] {
    -webkit-appearance: auto;
}

.dnk-logo-block {
    display: flex;
    align-self: flex-end;
}

.dnk-logo-small {
    display: none;
}

.dnk-logo {
    /*height: 86px;*/
    width: 100%;
}

.nav-link {
    font-size: 1.3rem;
    color: inherit;
}

.dnk-navbar {
    display: flex !important;
    justify-content: space-between;
    flex-direction: row;
}

.dnk-navbar .active {
    font-weight: bold;
}

.navbar-toggler {
    padding: 0 !important;
}

.dnk-localization {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-left: 0;
    cursor: pointer;
}

.dnk-localization {
    list-style-type: none;
}

.dnk-localization > .dn-item > a {
    opacity: .4;
}

.dn-item.active a {
    opacity: 1;
}

.nav-item > .nav-link {
    transition: all .5s ease;
}

.nav-item > .nav-link:hover {
    /*font-weight: bold;*/
    color: #c7c7c7cf;
}

.nav-item-phone .nav-link-phone {
    font-weight: bold;
}

.nav-item-phone .nav-link-phone:hover {
    color: #fff;
}

.dnk-header, .dnk-footer {
    background-color: #112535;
}

.ajax_search {
    border-radius: 0;
    border: 0;
    width: 100%;
    height: 42px;
    outline: none;
}

.cart {
    text-align: center;
    width: 27.72px;
    height: 13.7px;
    border: 2px solid #000000;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.dnk-ajax-search {
    margin-top: 20px;
}

.ajax_search_small {
    margin: 0 auto;
}


.dnk-footer ul {
    list-style-type: none;
}


.dnk-parts {
    margin-top: 30px;
    padding: 0 !important;
}

.dnk-parts li {
    font-size: 18px;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dnk-parts a {
    text-decoration: none;
    color: #ffffff;
}

.dnk-parts a:hover {
    opacity: 0.42;
}

.dnk-parts img {
    padding-right: 0.5vw;
    margin-top: -0.5vh;
}

.dnk-concert-block {
    position: relative;
    height: 391px;
    margin-bottom: 5rem;

}

.dnk-concert-block h5 {
    text-align: center;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    margin: 15px;
}

.dnk-concert-overlay {
    opacity: 0;
    position: absolute;
    height: 391px;
    width: 100%;
    transition: all .5s ease;
}

.dnk-concert-block:hover .dnk-concert-overlay {
    background-color: #112535;
    opacity: .9;
    cursor: pointer;
}

.dnk-concert-block:hover .link-dnk-ticket {
    opacity: 1;
}

.link-dnk-ticket {
    display: block;
    font-size: 17px;
    font-weight: bolder;
    color: #fff;
    opacity: 0;
    /*position: absolute;*/
    /*bottom: 1rem;*/
    /*width: 100%;*/
    transition: all .5s ease;
    padding: 10px;
    background-color: #ED1B23;
}

.dnk-img-ticket {
    vertical-align: text-bottom;
}

.link-dnk-ticket:hover {
    color: #fff;
    text-decoration: none;
}

.link-dnk-ticket span, .dnk-img-ticket {
    transition: all .3s ease;
}

.link-dnk-ticket:hover span,
.link-dnk-ticket:hover .dnk-img-ticket {
    opacity: .8;
}

.dnk-ticket {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    padding: 20px;
}

.ticket-text-small {
    display: none;
}

.prices {
    display: flex;
    margin-top: 33px;
    margin-left: 36px;
}

.before {
    margin-right: 5px;
}

.before, .after {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 190%;
    /* or 30px */
    color: white;
}

.dnk-img-search {
    position: absolute;
    right: 32px;
    top: 10px;
}

.time {
    margin-left: 37px;
}

.place {
    margin-top: 15px;
    margin-left: 36px;
}

.place svg {
    margin-right: 6px;
    margin-top: -2px;
}

.place span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 190%;
    color: #FFFFFF;
}

.time svg {
    margin-right: 6px;
    margin-top: -2px;
}

.time span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 190%;
    /* identical to box height, or 27px */
    color: #FFFFFF;
}

.dnk-concert-block:hover .dnk-ticket {
    opacity: 1;
}

.dnk-main {
    margin-top: 5rem;
    margin-bottom: 5rem;
    min-height: 50vh;
}

.ajax_search_small {

    background-color: transparent;
    border: 0;
    display: none;
}

.btn-dnk-toggler {
    display: none;
}

.btn-dnk-toggler .navbar-toggler:focus {
    outline: none !important;
}

.dnk-img-toggler {
    height: 30px;
}


.dnk-pubic-offer span {
    font-size: .8rem;
}

#footer-text {
    font-weight: 300;
}

.active {
    font-weight: 500;
}

.nav-link-phone {
    font-weight: 500;
}

.dnk-footer span {
    font-weight: 300;
}

.block-menu {
    position: absolute;
    width: 80vw;
    height: 750px;

    background: #FFFFFF;
    box-shadow: 33px 34px 70px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 16px 6px;
    z-index: 1;
    overflow: hidden;
    display: none;
}

.container {
    z-index: 1;
}

.container .col:first-child {
    margin-top: 3vh;
}

.concert-details-description {
    font-weight: 400;
    margin-bottom: 100px;
}

.concert-details-description .col:first-child {
    font-size: 18px;
}

.container .col:last-child {
    margin-top: 4.5vh;

}

.dnk-localization-mobile {
    display: flex;
    list-style: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 190%;
    /* identical to box height, or 27px */

    text-align: center;

    color: #000000;
    opacity: 0.42;
    margin-top: 4vh;
    margin-left: -2vw;
}

.dnk-localization-mobile a {
    text-decoration: none;
    color: black;
    margin-right: 5vw;
}

.dnk-localization-mobile a:last-child {
    margin-right: 0px;
}

.line-1-mobile-menu {
    width: 100%;
    border: 1px solid black;
    margin-top: 30px;
}

.line-2-mobile-menu {
    width: 100%;
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 24px;
}

.line-3-mobile-menu {
    width: 100%;
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 24px;
}

.menu-mobile {
    z-index: 1;
}

.menu-mobile ul {
    margin-top: 4vh;
    margin-left: -10px;
}

.menu-mobile li {
    list-style: none;
    margin-bottom: 14px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 190%;
    /* identical to box height, or 27px */


    color: #000000;
}

.menu-mobile-info ul {
    margin-top: 4vh;
}

.menu-mobile-info li {
    margin-left: -10px;
    list-style: none;
    margin-bottom: 18px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 190%;
    /* identical to box height, or 27px */


    color: #000000;

}

#menu-mobile-number {
    font-weight: 900;
}

.social {
    z-index: 1;
    margin-top: 3vh;
    margin-left: 0.5vw;
}

.social span {
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 190%;
    /* identical to box height, or 27px */

    text-align: center;

    color: #000000;
}

.mobile-icons {
    margin-top: 21px;
    margin-left: 30px;
}

.mobile-icons svg {
    margin-right: 50px;
}

.dn-item a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 190%;
    /* identical to box height, or 27px */

    text-align: center;

    color: #FFFFFF;


}

.line-1-footer-mobile {
    width: 100%;
    height: 2px;

    background: #112535;
    box-shadow: 0px 2.22222px 10.6667px rgba(158, 39, 39, 0.03);
}

.menu-footer-mobile {
    display: none;
}

.footer-info-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-mobile-item {
    padding: 10px;
}

.menu-footer-mobile li {
    margin-top: 16px;
}

.menu-footer-mobile a {
    font-weight: 400;
    font-size: 1rem;
    color: #000000;
}


.text-for-eticket {
    font-weight: 600;
    font-size: 16px;
    line-height: 190%;
    color: #000000;
    margin-top: 5vh;
}

.text-for-eticket .p1 , .s1{
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 190% !important;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.text-for-eticket p{
    color: black;
}

.title-for-eticket {
    font-weight: 600;
    font-size: 31px;
    color: #000000;
}

.social img {
    margin-right: 3vw;
}

.social img:last-child {
    margin-right: 0px;
}

.concert_ajax_link {
    text-decoration: none;
    color: white;
}

.concert_id {
    color: black;
    z-index: 0;
}

.concert-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.blue-blocks {
    list-style-type: none;
    display: flex;
    margin-top: 20px;
    margin-bottom: 45px;
    padding: 0;
}

.blue-block {
    padding: 5px 8px 5px 8px;
    background: #3366FF;
    border-radius: 14px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    margin-right: 2vw;
}

.blue-blocks > .blue-block {
    font-size: 14px;
}


.link-dnk-ticket-id {
    width: 195px;
    height: 60px;
    font-size: 14px;
    font-weight: bolder;
    color: #fff;
    transition: all .5s ease;
    padding: 15px;
    background-color: #ED1B23;
    margin-bottom: 15px;
    border-radius: 0 !important;
}
.link-dnk-ticket-id-copy {
    width: 195px;
    height: 50px;
    font-size: 16px;
    font-weight: bolder;
    color: #fff;
    transition: all .5s ease;
    padding: 10px;
    background-color: #ED1B23;
    margin-bottom: 15px;
}

.link-dnk-order {
    padding: 20px;
    transition: all ease .4s;
    height: 60px;
}

.link-dnk-order:hover {
    opacity: .8;
}

.link-dnk-ticket-id:hover {
    text-decoration: none;
    color: #ffffff;
}
.link-dnk-ticket-id-copy:hover {
    text-decoration: none;
    color: #ffffff;
}

.btn-watch-video {
    border: 0;
    background: #112535;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    cursor: pointer;
    height: 53px;
    width: 205px;
}

.watch-video img {
    margin-left: 0.2vw;
}

.concert_id .row:first-child {
    font-weight: 400;
    font-size: 18px;
}

.concert_id .row:nth-child(2) {
    font-weight: 400;
    font-size: 18px;
    margin-top: 3vh;
}

.concert-name-id {
    font-weight: 600;
    font-size: 31px;
}


.img-concert-details {
    opacity: .61;
}

.text-important {
    font-weight: bold;
    color: #000;
}

.img-arrow {
    padding-left: 15px;
    padding-right: 15px;
}

.concert-details-description-text {
    font-size: 30px;
    font-weight: 600;
    color: #000000;
}

.text-cashier {
    color: #000;
    font-weight: bold;
    font-size: 30px;
}

#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
    color: #000;
}

.card {
    border: 0;
}

.card-header {
    padding: 0;
    border: 0;
    background-color: transparent;
}

.card-body {
    font-weight: 400;
    color: #000;
    padding: 0 8px !important;
}

.btn-cashier {
    font-size: 20px;
    font-weight: bolder;
    color: #112255;

}

.btn-cashier:focus {
    box-shadow: none;
}

.mapboxgl-marker:hover {
    cursor: pointer;
}

/*.marker {*/
/*    background-image: url('/img/marker.jpg');*/
/*    background-size: cover;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    border-radius: 50%;*/
/*    cursor: pointer;*/
/*}*/
.btn-link-address {
    color: #000;
    font-weight: bold;
}

.btn-link-address:hover {
    cursor: pointer;
    opacity: .9;
}

.btn-link-address.active {
    color: #112255;
}

.up {
    margin-left: 20px;
}

.address {
    margin-bottom: 20px;
}

.address_text {
    margin-bottom: 40px;
}

.accordion .btn-cashier:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f106";
    float: right;
    color: #000;
    padding-left: 10px;
}

.accordion .btn-cashier.collapsed:after {
    content: "\f107";
    /*color: #112255;*/
}

.marker-title {
    font-size: 12px;
    font-weight: bold;
}

.img-concert-details {
    margin-top: 3px;
}

.dnk-img {
    width: 100%;
}

.link-menu-mobile {
    text-decoration: none;
    color: black;
}

#cashier {
    z-index: 0;
}

#ticket {
    z-index: 0;
}

.order-ticket-header {
    width: 100%;
    height: 124px;
    background: #112535;
}

.order-ticket-footer {
    width: 100%;
    height: 73px;
    background: #112535;
}

.order-ticket-header b {
    font-size: 25px;
}

.order-ticket-img {
    opacity: 0.5;
}

.place-order-ticket {
    margin-top: 15px;
}

.place-order-ticket img {
    margin-right: 15px;
}

.date-order-ticket {
    margin-top: 20px;
}

.date-order-ticket img {
    margin-right: 15px;
}




.dnk-main-scene-block {
    color: #112535;
    font-weight: bold;
    text-align: center;
    min-height: 115vh;
}

/*.dnk-block-scene {*/

/*    background: #E5E5E5;*/
/*}*/

/*.dnk-block-cart {*/
/*    min-height: 800px;*/
/*}*/

.line-block-cart {
    width: 100%;
    height: 1px;
    background: rgba(17, 37, 53, 0.21);
}

.scene-order {

    width: 195px;
    height: 50px;
    background: #ED1B23;
}

.scene-order:hover {
    text-decoration: none;
    color: #ED1B23;
}

.scene-order .col {
    font-size: 16px;
    line-height: 190%;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 10px;
}

.book {
    color: white;
}

.book-time {
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
}

.concert_name {
    margin-left: 40px;
}
.block_cart {
    position: relative;
}
.delete_ticket {
    position: absolute;
    right: 35px;
    top: 5px;
}

.row_order_ticket {
    margin-left: 40px;
    width: 30px;
}

.row_2_order_ticket {
    margin-left: 60px;
}

.total {
    margin-left: 30px;
}

.total_count {
    margin-left: 10px;
}

.total_price {
    margin-left: 110px;
}

.delete_cart {
    font-size: 12px;
    color: #000000;
    margin-left: 10px;
}

.delete_cart:hover {
    text-decoration: none;
    color: #000000;
}

.delete_cart img {
    margin-right: 10px;
}

.dnk-block-cart {
    color: #000;
    font-weight: bold;
}
.small-mobile-block{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 79px;
    position: fixed;
    background: #FFFFFF;
    box-shadow: 13px -21px 43px rgba(0, 0, 0, 0.03);
    z-index: 1;
}
.small-mobile{
    position: relative;
    width: 195px;
    height: 50px;
    background: #ED1B23;
    margin-left: 30vw;
    margin-top: 10px;
}
.small-mobile span{
    position: absolute;
    font-size: 16px;
    color: #FFFFFF;
    top: 10px;
    left: 10px;
}
.small-mobile img{
    position: absolute;
    top: 15px;
    left: 150px;
}
.pay_order p{
    font-weight: 600;
    font-size: 31px;
    line-height: 190%;
    color: #000000;
}
.pay_order{
    margin-left: 10vw;
}
.select_place span{
    margin-left: 30px;
    margin-top: 5px;
}
.line-select_place{
    margin-top: 20px;
    margin-bottom: 30px;
    height: 55px;
    width: 1px;
    background: #C4C4C4;
    margin-left: 20px;
}
.line-select_place-2{
    margin-top: 20px;
    margin-bottom: 10px;
    height: 239px;
    width: 1px;
    background: #C4C4C4;
    margin-left: 67px;
}
.line-select_place-3{
    margin-top: 20px;
    margin-bottom: 10px;
    height: 239px;
    width: 1px;
    background: #C4C4C4;
    margin-left: 80px;
}
.line-select_place-4{
    position: absolute;
    height: 50px;
    margin-top: 50px;
    margin-left: 20px;
    width: 1px;
    background: #C4C4C4;
}
.fio{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 20px;
}
.fio input{
    width: 447px;
    height: 48px;
    margin-bottom: 24px;
    border: 1px solid #C4C4C4;
}
.select_place-1-form{
    margin-left: 1px;
}
.fio input:focus::placeholder {
    font-size: 10px; /* Размер шрифта */
    transform: translateY(-30px); /* Сдвигаем вверх */
}
.fio input::placeholder {
    transition: 0.5s; /* Время трансформации */
    color: #aaa; /* Цвет подсказки */
}
.fio input:focus {
    outline: none; /* Убираем контур */
    border: 1px solid #112535; /* Синяя линия снизу */
}
.checkbox-step-3{
    margin-left: 55px;
    margin-top: 20px;
}
.checkbox-step-3 label:last-child{
    margin-left: -95px;
}
#online_ticket, #buy_by_yourself{
    transform:scale(1.3);
    background: #112535;
}
#card, #cash{
    transform:scale(1.3);
    background: #112535;
}
.checkbox-step-3 span{
    margin-left: 20px;
    margin-right: 20px;
}
.select_place-2-form p{
    margin-top: 100px;
    margin-left: -250px;
    font-size: 16px;
    font-weight: 400;
    color: #CA0606;
}
.checkbox-step-4{
    margin-left: 140px;
    margin-top: 20px;
}
.checkbox-step-4 label:last-child{
    margin-left: -110px;
}
.checkbox-step-4 span{
    margin-left: 20px;
}
.select_place-3-form p{
    margin-top: 100px;
    margin-left: -300px;
    font-size: 16px;
    font-weight: 400;
}
.select_place-3-form textarea{
    width: 447px;
    height: 120px;
    border: 1px solid #C4C4C4;
    margin-top: 150px;
    margin-left: -270px;
    margin-bottom: 24px;
}
.change_cashier{
   margin-top: 150px;
    margin-left: -410px;
}
.change_cashier select{
    margin-top: 10px;
    margin-left: 40px;
    width: 447px;
    height: 48px;
    color: #C4C4C4;
    border: 1px solid #C4C4C4;
}
.edit{
    margin-left: 10px;
}
.edit-step-3{
    margin-left: 10px;
    cursor: pointer;
}
.pay_order{
    margin-left: 20vw;
}
.dnk-main-scene-block{
    background: whitesmoke;
    max-height: calc(100vh - 56px);
    overflow-x: hidden;
    overflow-y: auto;
}
.dnk-main-scene-block input{
    background: #E5E5E5;
}
#change_address{
    background: whitesmoke;
}
#comment{
    background: whitesmoke;
    max-height: 500px;
}
.scroll-cart{
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.about-page span{
    font-weight: 500;
    font-size: 18px;
    line-height: 190%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;

}
.about-page p{
    font-size: 39px;
    line-height: 190%;
    display: flex;
    align-items: center;
    color: #112535;
    font-weight: bold;
    margin-top: 37px;
}
.about span{
    font-weight: 600;
    font-size: 31px;
    line-height: 190%;
    color: #000000;
}
.about-page .col-4 p{
    margin-left: -40px;
}
.year{
    margin-left: 20px;
}
.about-page .col-4 span{
    margin-left: -70px;
    width: 280px;
}
.about-page .col-3 span{
    width: 250px;
    margin-left: -60px;
}
.about-page-text span{
margin-top: 50px;
    margin-left: -10px;
    text-align: left;
}
.contacts-page p{
    font-weight: 600;
    font-size: 31px;
    line-height: 190%;
    display: flex;
    align-items: center;

    color: #000000;
}
.contacts-page span{
    font-weight: 600;
    font-size: 16px;
    line-height: 190%;
    display: flex;
    align-items: center;
    color: #000000;
}
.contacts {
display: flex;
    flex-direction: column;
}
.contact span{
    margin-left: 50px;
    margin-top: -30px;
}
.contact{
    margin-bottom: 50px;
}
.contacts-page:last-child{
    margin-bottom: 369px;
}
.about-page{
    z-index: 0;
}
.contacts_tel{
    color: black;
}
.social a{
    margin-right: 50px;
}

/*.admin-scene {*/
/*    font-weight: 600;*/
/*    font-size: 9px;*/
/*    line-height: 15px;*/
/*    color: #fff;*/
/*}*/

input.fw-input {
    width: 447px;
    height: 100%;
    padding: 0 14px;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: black;
    background-color: whitesmoke;
}
.fw-field__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    width: 100%;
}
.fw-field-container {
    margin: 0 0 24px;
    text-align: left;
}
.b-auth-last-form-field {
    margin-bottom: 12px!important;
}
.fw-field {
    background: #fff;
    border: 1px solid #99b2bf;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.fw-field .fw-field__content>label {
    position: absolute;
    background: #fff;
    color: #99b2bf;
    font-size: 14px;
    line-height: 18px;
    -webkit-transition: color .2s,-webkit-transform .2s;
    transition: color .2s,-webkit-transform .2s;
    -o-transition: transform .2s,color .2s;
    transition: transform .2s,color .2s;
    transition: transform .2s,color .2s,-webkit-transform .2s;
    font-style: normal;
    font-weight: 400;
    top: 14px;
    left: 14px;
    pointer-events: none;
    will-change: transform,color;
    z-index: 6;
    width: auto;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 80%;
}
.fw-field .fw-field__content>label {
    position: absolute;
    background: whitesmoke;
    color: #99b2bf;
    font-size: 14px;
    line-height: 18px;
    -webkit-transition: color .2s,-webkit-transform .2s;
    transition: color .2s,-webkit-transform .2s;
    -o-transition: transform .2s,color .2s;
    transition: transform .2s,color .2s;
    transition: transform .2s,color .2s,-webkit-transform .2s;
    font-style: normal;
    font-weight: 400;
    top: 14px;
    left: 14px;
    pointer-events: none;
    will-change: transform,color;
    z-index: 6;
    width: auto;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 80%;
}
.fw-field.fw-focused .fw-field__content>label, .fw-field.fw-has-value .fw-field__content>label {
    background: whitesmoke;
    -webkit-transform: translateY(-24px);
    -ms-transform: translateY(-24px);
    transform: translateY(-24px);
    font-size: 12px;
    line-height: 18px;
    padding: 0 4px;
}
.profile1_svg{
    display: none;
}
.check-name{
    display: none;
}

.check-name .container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 50px;
}
.check-name .container .row{
    margin-top: 20px;
}
.check-name .container .row span{
    width: 100px;
}
.check-name-text-name, .check-name-text-tel, .check-name-text-email{
margin-left: 50px;
}
.edit{
    cursor: pointer;
}
.delivery1_svg{
    display: none;
}
.pay1_svg{
    display: none;
}
.select_place-2-form{
  opacity: 0.000001;
    cursor: default;
}
.change_cashier{
    display: none;
}
.edit-step-3{
    display: none;
}
.select_place-3-form{
    opacity: 0.00001;
}
.pay{
    margin-top: -200px;
}
.link-dnk-order-copy-mobile{
    display: none;
}
.mobile-pay{
    display: none;
}
.empty_block_cart span{
    font-weight: 600;
    font-size: 21px;
    line-height: 190%;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.43);
}
.empty_block_cart p{
    font-weight: 600;
    font-size: 15px;
    line-height: 190%;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.38);
}
.empty_block_cart .empty_cart{
    margin-left: 7vw;
}
.empty_block_cart .choose_ticket{
    margin-left: 7.5vw;
}
.link-dnk-ticket-id.disabled{
    background-color: #C4C4C4;
}
.link-dnk-ticket-id.disabled:hover{
    opacity: 1;
}
.ticket-text-empty-cart{
    margin-left: 5px;
}

.empty-cart {
    position: absolute;
    bottom: 0;
    left: 25%;
}
.custom-switch{
    display: none;
}
.tablet-sector{
    display: none;
    width: 696px;
    height: 60px;

    background: #FFFFFF;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.04);
    margin-top: 30px;
}
.tablet-sector span {
    font-size: 12px;
}
.tablet-sector-block{
    left: 20px;
    top: 5px;
    line-height: 1.8;
    text-align: left;
    position: absolute;
}
.tablet-sector-block-right{
    right: 20px;
    top: 15px;
    position: absolute;
}
#tablet-footer{
    display: none;
    height: 90px;
}
#tablet-footer img{
    display: none;
}
/*#tablet-header{*/
/*    display: none;*/
/*}*/
.header_ticket_after_pay{
    display: flex;
    justify-content: space-between;
    background: #112535;
    height: 100px;
}
.header_ticket_after_pay_logo img{
    width: 400px;
    margin-left: 50px;
    margin-top: 9px;
}
.header_ticket_after_pay, p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}
.header_ticket_after_pay_text p{
    margin-right: 50px;
    margin-top: 30px;
}

.footer_ticket_after_pay{
    width: 100%;
    height: 70px;
    background: #112535;
}
.footer_ticket_after_pay p{
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}
.ticket_after_pay_block_1 .col-3 img{
   width: 300px;
    margin-bottom: 20px;
}
.ticket_after_pay_block_1 .col-8 p{
    font-weight: 500;
    font-size: 25px;
    line-height: 190%;
    color: #000000;
}
.ticket_after_pay_block_1 .col-8 span{
    font-size: 25px;
    line-height: 190%;
    display: flex;
    align-items: center;
    color: #000000;
}
.ticket_after_pay_info_place span{
    margin-right: 50px;
}
.ticket_after_pay_line_1{
    width: 100%;
    height: 1px;
    background: #E5E5E5;
}
.ticket_after_pay_block_1{
    color: #000;
    margin-bottom: 14px;
}
.ticket_after_pay_block_2 .col-5{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 190%;
    color: #000000;
}
.ticket_after_pay_block_2 .col-4 p{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 190%;
    color: #000000;
}
.ticket_after_pay_block_2 .col-4 span{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 190%;
    color: #000000;
}
.ticket_after_pay_block_2 .col-4 img{
    width: 500px;
}
.ticket_after_pay_line_2{
    width: 100%;
    height: 1px;
    background: #E5E5E5;
}
.ticket_after_pay_block_3 p{
    font-weight: 600;
    font-size: 20px;
    line-height: 190%;
    color: #000000;
}
.ticket_after_pay_block_3 li{
    font-size: 20px;
    line-height: 200%;
    color: #000000;
}
.filter_colors_tablet{
    display: none;
}
.header_voyager{
    background: #112535;
    width: 100%;
    height: 80px;
}
.header_voyager span{
    font-weight: 300;
    font-size: 16px;
    line-height: 190%;
    color: #FFFFFF;
}
.header_voyager a:hover{
    text-decoration: none;
}
.header_voyager img{
    width: 15px;
    margin-right: 5px;
}
.block-addresses{
    min-height: 50vh;
}
.voyager_main{
    min-height: 50vh;
    background-color: whitesmoke;
}
.block-cities{
    min-height: 50vh;
}
.block-scene-admin{
    min-height: 900px;
}
.header_voyager form button{
background: none;
    border: none;
    color: white;
}
.concerts_block_text p{
    font-weight: 600;
    font-size: 31px;
    line-height: 190%;
    color: black;
}
.table-bordered .tr-1{
    background-color: #86ACDA;
}
.table-bordered th{
    color: white;
}
/*.admin_concerts img{*/
/*    width: 20px;*/
/*    cursor: pointer;*/
/*    position: absolute;*/
/*    right: 0px;*/
/*    bottom: 30px;*/
/*}*/
.admin_actions button img{
    width: 10px;
    transform: rotate(180deg);
}
.admin_action_concerts{
    display: none;
    position: absolute;
    background-color: white;
    top: 150px;
    right: 15px;
    width: 221px;
    height: 358px;
    filter: drop-shadow(9px 9px 47px rgba(0, 0, 0, 0.05));
}
.admin_action_concerts span{
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    cursor: pointer;
}
.admin_action_concerts img{
    width: 16px;
    margin-right: 14px;
}
.admin_action_concerts .col-12{
    margin-top: 40px;
    margin-left: 26px;
}
.admin_action_concerts .col-12:first-child{
    margin-top: 20px;
}
.admin_action_concerts a:hover{
    text-decoration: none;
}
.admin_actions{
    cursor: pointer;
}
.dropdown-menu{
    width: 243px;
    height: 300px;
    margin-left: -100px;
    border: none;
    border-radius: 0px;
}
.dropdown-menu img{
    width: 10px;
    margin-right: 12px;
}
.dropdown-menu a{
    font-size: 14px;
    line-height: 150%;
    color: #000000;
}
.dropdown-menu a:hover{
    text-decoration: none;
}
.dropdown-menu li{
    margin-left: 25px;
    margin-top: 24px;
}
.dropdown-toggle:after{
    display: none;
}
.btn-group .dropdown-menu{
    width: 200px;
    height: auto;
    filter: drop-shadow(9px 9px 47px rgba(0, 0, 0, 0.05));
}
.btn-group .dropdown-menu .col-12{
    margin-top: 30px;
    margin-left: 20px;
}
.btn-group .dropdown-menu .col-12:first-child{
    margin-top: 5px;
    margin-left: 20px;
}
.table-bordered input{
    width: 100%;
}
.voyager_header_dropdown ul{
    width: 240px;
    height: 200px;
    margin-top: 20px;
    filter: drop-shadow(9px 9px 47px rgba(0, 0, 0, 0.05));
}
.order-ticket-footer .col-2 a{
    color: white;
    font-size: 15px;
}
.order-ticket-footer .col-2 a:hover{
    text-decoration: none;
}
.order-ticket-footer{
    height: 90px;
}
.justify-content-center a img{
    transform: rotate(270deg);
}
.form-group{
    color: black;
}
.modal-header{
    border: none;
}
.modal-footer{
    border: none;
}
.modal-content{
    width: 1000px;
    height: 1200px;
    color: black;
}
.parametrs{
    display: flex;
    flex-wrap: wrap;
}
.parametrs_block{
    flex: 1 0 30%;
    height: 60px;
    width: 300px;
    font-size: 12px;
}
.parametrs_block input{
    margin-right: 10px;
}
.add_photo, .add_video{
    width: 150px;
}
.media{
    display: flex;
    width: 200px;
}

.payment-errors-block {
    color: #000;
}


.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}

.bg-errors {
    background: #d00d0d;
}
#dropdownMenu{
    margin-left: -10px;
}
.main_admin_blocks{
    padding-top: 77px;
    padding-bottom: 50px;
    background-color: white;
    filter: drop-shadow(9px 9px 47px rgba(0, 0, 0, 0.05));
    margin-bottom: 67px;
    width: 100%;
}
.main_admin_blocks span{
    color: black;
    position: absolute;
    top: 24px;
    left: 28px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 190%;
}
.dropdown-menu.show{
    height: auto;
}
.mdb-select{
    width: 447px;
    height: 50px;
    border: 1px solid #ADACAC;
    color: gray;
    font-size: 15px;
    padding-left: 10px;
}
.fw-input-admin {
    height: 100%;
    padding: 0 14px;
    border-radius: 0px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: black;
    background-color: white;
}
#concert_create_form label{
    background-color: white;
    color: #ADACAC;
}
.fw-field-container-admin{
    margin-left: 15px;
    width: 447px;
}
.fw-field-container-admin .fw-field{
    border: 1px solid #ADACAC;
}
.date_admin_concert input{
    width: 447px;
    height: 50px;
}
.ticket_order_admin input{
    width: 447px;
    height: 50px;
}
.description_admin textarea{
    height: 200px;
    max-height: 250px;
}
.admin_cancel_concert{
    background-color: white;
    border: none;
    color: black;
    padding: 10px;
}
.admin_create_concert{
    background-color: #112535;
    border: none;
    color: white;
    padding: 10px;
}
.modal-footer img{
    margin-right: 10px;
}
.admin_cancel_concert:hover{
    background-color: white;
    text-decoration: none;
    color: black;
}
.admin_create_concert:hover{
    background-color: #112535;
    text-decoration: none;
    color: white;
}
.admin-user-modal-content{
    height: auto;
}
#user_create_form label{
    background-color: white;
    color: #ADACAC;
}
#city_create_form label{
    background-color: white;
    color: #ADACAC;
}
#address_create_form label{
    background-color: white;
    color: #ADACAC;
}
.table-bordered th{
    border: 1px solid white;
}
.table-bordered td{
    border: none;
}
.table-bordered .tr-1 td{
    border: 1px solid white;
}
.table-bordered{
    border: none;
}
.tr-1-th-1{
    text-align: center;
}
.header_voyager .active {
    font-weight: 800;
}
#concert_edit_form label{
    background-color: white;
}
#user_edit_form label{
    background-color: white;
}
#address_edit_form label{
    background-color: white;
}
#city_edit_form label{
    background-color: white;
}
.data_concert{
width: 447px;
    height: 50px;
    border-radius: 0px;
    border: 1px solid #ADACAC;
    margin-left: -15px;
    margin-bottom: -10px;
    padding-left: 10px;
}
#modalConcert{
    height: 100%;
}
#modal_place{
    width: 100%;
    height: 100%;
}
.note-editable p{
    color: black;
}
.note-icon-trash{
    display: none;
}
.concert-details-description p{
    color: black;
}
.note-editable{
    max-height: 176px;
}
.ticket_create{
    color: black;
}
.ticket_edit{
    min-height: 500px;
    margin-top: 200px;
}
.ticket_edit span{
    color: black;
}
.header_voyager span:hover{
    color: #ADACAC;
}
.header_voyager button:hover{
    color: #ADACAC;
}
.dropdown-menu a:hover{
    color: #ADACAC;
}
.dropdown-menu button:hover{
    color: #ADACAC;
}
.dropdown-menu i{
    margin-left: 10px;
}
#ticket span{
    color: black;
    font-size: 20px;
}
.concerts_block p{
    color: black;
    font-weight: 300;
    font-size: 15px;
}
#address_create_form i{
    color: black;
}
.note-editor{
    width: 500px;
}
.fl_upld{width:300px;}
#fl_inp{display:none;}
.fl_upld label{
    cursor:pointer;
    background:#36c;
    border-radius:3px;
    padding:10px 25px;
    color:#fff;
    font-weight:bold;
    text-align: center;
}
.fl_upld label:hover{background:#fc0;}
#fl_nm{
    margin-top:20px;
    color:#f00;

}
.media span{
    color: black;
    margin-left: 10px;
}
.order-ticket-header{
    display: flex;
    justify-content: space-between;
}
.order-ticket-header .logo{
    margin-left: 5vw;
}
.order-ticket-header .book{
    margin-right: 5vw;
}
.order-ticket-footer{
    display: flex;
    justify-content: space-between;
}
.order-ticket-footer-block-desktop span{
    margin-left: 30px;
}
.order-ticket-footer-block-desktop p{
    margin-right: 30px;
}
.order-ticket-footer-block-desktop a{
    color: white;
}
.order-ticket-footer-block-tablet img{
    margin-left: 30px;
}
.order-ticket-footer-block-tablet span{
    margin-right: 30px;
    font-size: 15px;
}
.order-ticket-footer-block-tablet p{
    margin-right: 30px;
    font-size: 15px;
}
.tablet-timer{
    position: absolute;
    margin-top: 60px;
    right: 60px;
    color: black;
}
.mobile-cart{
    position: absolute;
    bottom: 0px;
}