@media (min-width: 576px) {
    .navbar-toggler,
    .btn-dnk-toggler {
        display: none;
    }

    .dnk-footer span {
        font-size: 1.5rem;
    }

}

@media(min-width: 990px) {
    .dnk-pubic-offer .dnk-offert-text {
        font-size: 1rem !important;
    }
    .dnk-img-concert_id{
        width: 100%;
    }
}


@media (max-width: 990px) {

    .dnk-header .nav-link {
        font-size: 1rem;
    }

    .dnk-header .ajax_search {
        height: 50px;
    }

    .dnk-header .dnk-img-search {
        top: 14px;
    }

    .dnk-footer .dnk-parts {
        margin-top: 25px;
    }

    .dnk-footer li > a,
    .dnk-footer .dnk-parts li {
        font-size: 1rem;
    }


    .footer-text-item .footer-text {
        font-size: .7rem;
    }


    .dnk-pubic-offer .dnk-offert-text {
        font-size: 1rem !important;
    }
    .dnk-footer-title {
        font-size: 1.5rem;
    }

}

@media (max-width: 768px) {
    .dnk-header .nav-link {
        font-size: .7rem;
    }

    .dnk-header .dnk-logo {
        width: 100%;
        height: 45px;
    }

    .dnk-header .ajax_search {
        height: 34px;
    }

    .dnk-header .dnk-ajax-search {
        margin: 35px auto 0 auto;
    }

    .dnk-header .dnk-img-search {
        right: 26px;
        top: 10px;
        width: 16px;
    }

    .dnk-header .dnk-localization-block {
        /*display: none;*/
        font-size: .7rem;
    }

    .dnk-header .dnk-img-cart {
        width: 20px;
    }
    .dnk-main {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
    .concerts-block .dnk-concert-block,
    .concerts-block .dnk-concert-overlay {
        height: 291px;
    }
}

@media(max-width: 762px) {
    .footer-text-item .footer-text {
        font-size: .6rem !important;
    }
}
@media(max-width: 730px) {
    .dnk-footer li > a, .dnk-footer .dnk-parts li {
        font-size: .7rem;
    }
}

@media(max-width: 660px) {
    .dnk-footer span {
        font-size: 1.2rem !important;
    }
    .dnk-pubic-offer .dnk-offert-text {
        font-size: 1rem;
    }

}

@media (max-width: 575px) {
    .dnk-header .ajax_search,
    .dnk-header .dnk-img-search,
    .dnk-localization-block,
    .dnk-parts-block {
        display: none;
    }

    .dnk-header .ajax_search_small {
        display: block;
    }

    .dnk-header .dnk-ajax-search,
    .dnk-header .dnk-cart-block {
        margin-top: 15px !important;
    }

    .dnk-header .btn-dnk-toggler {
        display: block;
    }

    .dnk-header .dnk-img-cart {
        width: 28px;
    }

    .dnk-pubic-offer .dnk-offert-text {
        font-size: .9rem !important;
    }
    .dnk-footer .footer-info-block {
        flex-direction: column;
    }
    .dnk-footer .dnk-parts li {
        font-size: 1rem !important;
    }
    .footer-text-item .footer-text {
        font-size: 1rem !important;
    }
    .dnk-pubic-offer .dnk-offert-text {
        font-size: 1.2rem !important;
    }
    .dnk-main {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }
    .dnk-header .dnk-logo {
        height: auto !important
    }
}

@media (max-width: 475px) {
    .dnk-footer span,
    .dnk-pubic-offer .dnk-offert-text {
        font-size: 1rem !important;
    }
    .footer-text-item .footer-text {
        font-size: .7rem !important;
    }

    .concerts-block .dnk-concert-block {
        height: 200px;
        margin-bottom: 9rem;
    }

    .concerts-block .dnk-img,
    .concerts-block .dnk-concert-overlay {
        height: 270px;
    }

    .concerts-block .dnk-ticket {
        top: 11rem;
        bottom: unset;
    }
}

@media (max-width: 400px) {
    .dnk-header .dnk-logo {
        display: none;
    }

    .dnk-header .dnk-logo-small {
        display: inline-block;
    }

    .btn-dnk-toggler {
        padding: 0;
    }

}

@media (max-width: 500px) {
    .ticket-text-small {
        display: inline-block !important;
    }

    .ticket-text {
        display: none;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .ticket-text {
        font-size: 14px;
    }
}

@media (min-width: 766px) and (max-width: 1000px) {
    .ticket-text {
        font-size: 12px;
    }
}

@media (min-width: 574px) and (max-width: 766px) {
    .ticket-text {
        font-size: 10px;
    }
}

@media (min-width: 500px) and (max-width: 574px) {
    .ticket-text {
        font-size: 10px;
    }
}

@media (min-width: 375px) and (max-width: 500px) {
    .ticket-text-small {
        font-size: 15px;
    }
}

@media (max-width: 445px) {
    #navbarNav {
        display: none;
    }

    .social svg {
        margin-left: 10px;
        margin-top: -20px;
    }

    .dnk-parts li {
        margin-top: -15px;
    }

    .menu-footer-mobile {
        display: block !important;
    }
}

@media (max-width: 445px) {
    .menu-footer-mobile li{
        margin-top: 16px;
    }
}

@media (max-width: 400px) {
    .ticket-text-small {
        font-size: 12px;
    }

    .before {
        width: 100px;
        margin-left: -5vw;
    }

    .after {
        width: 150px;
        margin-top: 5vh;
        margin-left: -26vw;
    }
}

@media (max-width: 360px) {
    .dnk-contacts-block,
    .dnk-social-block {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .concerts-block .dnk-img,
    .concerts-block .dnk-concert-overlay {
        height: 250px;
    }
}

@media(max-width: 330px) {
    .dnk-footer-block {
        display: block;
    }
    .dnk-logo-small {
        width: 140px;
    }
}
@media(max-width: 320px) {
    .concerts-block .dnk-img,
    .concerts-block .dnk-concert-overlay {
        height: 200px;
    }
    .concerts-block .dnk-concert-block {
        margin-bottom: 4rem;
    }
}
@media(max-width: 280px) {
    .dnk-logo-small {
        width: 125px;
    }

}
@media (min-width: 445px) and (max-width: 575px) {
    #navbarNav{
        display: none;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .ticket-text{
        font-size: 12px;
    }
    .dnk-concert-overlay .before{
        margin-left: -1vw;
    }
    .dnk-concert-overlay .time{
        margin-left: 2.5vw;
    }
    .dnk-concert-overlay .place{
        margin-left: 2.5vw;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .dnk-concert-overlay .before{
        margin-left: -1vw;
    }
    .dnk-concert-overlay .time{
        margin-left: 2.5vw;
    }
    .dnk-concert-overlay .place{
        margin-left: 2.5vw;
    }
}
@media (min-width: 574px) and (max-width: 768px) {
    .dnk-concert-overlay .before{
        font-size: 14px;
        margin-left: -4vw;
        width: 150px;
    }
    .dnk-concert-overlay .after{
        font-size: 14px;
        margin-left: -3vw;
        width: 200px;
    }
    .dnk-concert-overlay .time{
        margin-left: 2vw;
    }
    .dnk-concert-overlay .place{
        margin-left: 2vw;
        height: 60px;
        overflow: hidden;
    }
    .dnk-concert-overlay .place span{
        margin-left: -1vw;
        font-size: 11px;
    }
    .ticket-text{
        font-size: 5px;
    }
}
@media (min-width: 500px) and (max-width: 574px) {
    .ticket-text{
        font-size: 15px;
    }
    .dnk-concert-overlay .place{
       height: 60px;
        overflow: hidden;
    }
}
@media (min-width: 428px) and (max-width: 500px) {
    .dnk-concert-overlay .before{
         margin-left: -4vw;
     }
    .dnk-concert-overlay .time{
        margin-left: 4vw;
    }
    .ticket-text-small{
        font-size: 17px;
    }
    .dnk-concert-overlay .place{
        margin-left: 4vw;
        height: 60px;
        overflow: hidden;
    }
    .dnk-concert-overlay .place span{
        margin-left: -1vw;
    }
}
@media (min-width: 400px) and (max-width: 428px) {
    .dnk-concert-overlay .before{
        margin-left: -5vw;
        font-size: 15px;
    }
    .dnk-concert-overlay .after{
        font-size: 15px;
    }
    .dnk-concert-overlay .time{
        margin-left: 4vw;
    }
    .dnk-concert-overlay .place{
        width: 38vw;
        margin-left: 4vw;
        height: 60px;
        overflow: hidden;
    }
    .dnk-concert-overlay .place span{
        margin-left: -1vw;
        font-size: 12px;
    }
}
@media (min-width: 375px) and (max-width: 400px) {
    .dnk-concert-overlay .before{
        margin-left: -5vw;
        width: 150px;
        font-size: 11px;
    }
    .dnk-concert-overlay .after{
        margin-left: -15vw;
        width: 150px;
        font-size: 11px;
        margin-top: -0.1vh;
    }
    .dnk-concert-overlay .time{
        margin-left: 4vw;
    }
    .dnk-concert-overlay .time span{
        font-size: 11px;
    }
    .dnk-concert-overlay .place{
        width: 40vw;
        margin-left: 4vw;
        height: 60px;
        overflow: hidden;
    }
    .dnk-concert-overlay .place span{
        margin-left: -1vw;
        font-size: 11px;
    }
}
@media (min-width: 350px) and (max-width: 375px) {
    .dnk-concert-overlay .before{
        margin-left: -5vw;
        width: 150px;
        font-size: 10px;
    }
    .dnk-concert-overlay .after{
        margin-left: -15vw;
        width: 150px;
        font-size: 10px;
        margin-top: -0.1vh;
    }
    .dnk-concert-overlay .time{
        margin-left: 4vw;
    }
    .dnk-concert-overlay .time span{
        font-size: 10px;
    }
    .dnk-concert-overlay .place{
        width: 40vw;
        margin-left: 4vw;
        height: 60px;
        overflow: hidden;
    }
    .dnk-concert-overlay .place span{
        margin-left: -1vw;
        font-size: 10px;
    }
    .ticket-text-small{
        font-size:10px;
    }
    .dnk-img-ticket{
        width: 15px;
    }
}
@media (min-width: 320px) and (max-width: 350px) {
    .dnk-concert-overlay .before{
        margin-left: -5vw;
        width: 150px;
        font-size: 8px;
    }
    .dnk-concert-overlay .after{
        margin-left: -15vw;
        width: 150px;
        font-size: 8px;
        margin-top: -0.1vh;
    }
    .dnk-concert-overlay .time{
        margin-left: 4vw;
    }
    .dnk-concert-overlay .time span{
        font-size: 8px;
    }
    .dnk-concert-overlay .place{
        width: 40vw;
        margin-left: 4vw;
        height: 60px;
        overflow: hidden;
    }
    .dnk-concert-overlay .place span{
        margin-left: -1vw;
        font-size: 8px;
    }
    .ticket-text-small{
        font-size:7px;
    }
    .dnk-img-ticket{
        width: 15px;
    }
}
@media (min-width: 990px) and (max-width: 1200px) {
.ticket-text{
    font-size: 12px;
}
    .dnk-img{
        width: 110%;
        height: 100%;
    }
    .concert-info .col-12 .concert-name-id{
        font-size: 25px;
    }
    .concert-info .col-11 span{
        font-size: 15px;
    }
    .concert-info .col-12 span{
        font-size: 15px;
    }
}
@media (min-width: 767px) and (max-width: 990px) {
    .concert-info a{
        width: 170px;
    }
    .ticket-text{
        font-size: 12px;
    }
    .dnk-img-concert_id{
        width: 110%;
        height: 80%;
    }
    .concert-info .col-12 .concert-name-id{
        font-size: 20px;
    }
    .concert-info .col-10 span{
        font-size: 14px;
    }
    .concert-info .col-12 span{
        font-size: 14px;
    }
    .concert-info .blue-blocks li{
        font-size: 10px;
    }
    .col-12 .btn-watch-video{
        font-size: 10px;
        width: 165px;
        margin-left: -15px;
        margin-top: 20px;
        !important;
    }
}
@media (min-width: 574px) and (max-width: 767px) {
    .concert-info a{
        width: 170px;
    }
    .ticket-text{
        font-size: 12px;
    }
    .dnk-img-concert_id{
        width: 110%;
        height: 50%;
    }
    .concert-info .col-12 .concert-name-id{
        font-size: 18px;
    }
    .concert-info .col-10 span{
        font-size: 14px;
    }
    .concert-info .col-12 span{
        font-size: 14px;
    }
    .concert-info .blue-blocks li{
        font-size: 7px;
    }
    .col-12 .btn-watch-video{
        font-size: 8px;
        width: 120px;
        margin-left: -15px;
        margin-top: 20px;
    }
}
@media (min-width: 500px) and (max-width: 574px) {
    .concert-info{
        margin-left: 30px;
    }
    .concert-info a{
        width: 170px;
    }
    .ticket-text{
        font-size: 12px;
    }
    .dnk-img-concert_id{
        width: 150%;
        height: 50%;
    }
    .concert-info .col-12 .concert-name-id{
        font-size: 18px;
    }
    .concert-info .col-10 span{
        font-size: 14px;
    }
    .concert-info .col-12 span{
        font-size: 14px;
    }
    .concert-info .blue-blocks li{
        font-size: 7px;
    }
    .col-12 .btn-watch-video{
        font-size: 10px;
        width: 30vw;
        margin-left: -15px;
        margin-top: 20px;
    }
}
@media (min-width: 450px) and (max-width: 500px) {
    .concert-info{
        margin-top: 480px;
        margin-left: -100px;
        font-size: 14px;
        z-index: 0;
    }
    .name_mobile_concert_id_1{
        margin-top: -50px;
    }
    .dnk-img-concert_id{
        margin-left: 19vw;
    }
    .btn-watch-video{
        font-size: 15px;
        margin-left: 22vw;
        margin-top: 3vh;
    }
    .concert-name-id{
        display: none;
    }
    .col-10{
        margin-top: 4px;
        font-size: 14px !important;
    }
    .col-12{
        margin-top: 10px;
    }
    .ticket-text-small-mobile{
        display: block;
    }
    .concert_id:first-child{
        margin-top: -50px;
    }
    .link-dnk-ticket-id{
        margin-top: -50px;
    }
    .dnk-main-scene-block{
        min-height: 900px;
    }
}
@media (min-width: 400px) and (max-width: 450px) {
    .concert-info{
        margin-top: 480px;
        margin-left: -80px;
        font-size: 14px;
        z-index: 0;
    }
    .name_mobile_concert_id_1{
        margin-top: -50px;
    }
    .dnk-img-concert_id{
        margin-left: 16vw;
    }
    .btn-watch-video{
        font-size: 15px;
        margin-left: 20vw;
        margin-top: 3vh;
    }
    .concert-name-id{
        display: none;
    }
    .col-10{
        margin-top: -25px;
        font-size: 14px !important;
        margin-left: 50px;
    }
    .col-12{
        margin-top: 10px;
    }
    .ticket-text-small-mobile{
        display: block;
    }
    .concert_id:first-child{
        margin-top: -50px;
    }
    .link-dnk-ticket-id{
        margin-top: -50px;
    }
    .dnk-main-scene-block{
        min-height: 900px;
    }
}
@media (min-width: 350px) and (max-width: 400px) {
    .concert-info{
        margin-top: 480px;
        margin-left: -80px;
        font-size: 14px;
        z-index: 0;
    }
    .name_mobile_concert_id_1{
        margin-top: -50px;
    }
    .dnk-img-concert_id{
        margin-left: 14vw;
    }
    .btn-watch-video{
        font-size: 15px;
        margin-left: 18vw;
        margin-top: 3vh;
    }
    .concert-name-id{
        display: none;
    }
    .col-10{
        margin-top: -25px;
        font-size: 14px !important;
        margin-left: 50px;
    }
    .col-12{
        margin-top: 10px;
    }
    .link-dnk-ticket-id{
        margin-top: -50px;
    }
    .ticket-text-small-mobile{
        display: block;
    }
    .concert_id:first-child{
        margin-top: -50px;
    }
    .small-mobile{
        right: 20px;
    }
    .dnk-main-scene-block{
        min-height: 900px;
    }
}
@media (min-width: 320px) and (max-width: 350px) {
    .concert-info{
        margin-top: 480px;
        margin-left: -80px;
        font-size: 14px;
        z-index: 0;
    }
    .name_mobile_concert_id_1{
        margin-top: -50px;
    }
    .dnk-img-concert_id{
        margin-left: 7vw;
    }
    .btn-watch-video{
        font-size: 15px;
        margin-left: 10vw;
        margin-top: 3vh;
    }
    .concert-name-id{
        display: none;
    }
    .col-10{
        margin-top: -25px;
        font-size: 14px !important;
        margin-left: 50px;
    }
    .col-12{
        margin-top: 10px;
    }
    .link-dnk-ticket-id{
        display: none;
    }
    .ticket-text-small-mobile{
        display: block;
    }
    .concert_id:first-child{
        margin-top: -50px;
    }
    .small-mobile{
        right: 10vw;
    }
}
@media (min-width: 990px) and (max-width: 1750px) {
    .concert-info{
        margin-left: 30px;
    }
    .col-12 .btn-watch-video{
        font-size: 12px;
        width: 200px;
        margin-left: -15px;
        margin-top: 20px;
    }
}
@media (min-width: 1500px) and (max-width: 1600px) {
   .social img:nth-child(2){
       margin-left: 20px;
   }
    .social img:last-child{
        margin-left: 20px;
    }
}
@media (min-width: 1400px) and (max-width: 1500px) {
    .social img:nth-child(2){
        margin-left: 20px;
    }
    .social img:last-child{
        margin-left: 20px;
    }
}
@media (min-width: 1300px) and (max-width: 1400px) {
    .social img:nth-child(2){
        margin-left: 20px;
    }
    .social img:last-child{
        margin-left: 20px;
    }
}
@media (min-width: 1200px) and (max-width: 1300px) {
    .social img:nth-child(2){
        margin-left: 20px;
    }
    .social img:last-child{
        margin-left: 20px;
    }
}
@media (min-width: 1752px) {
    .col-12 .btn-watch-video{
        font-size: 15px;
        width: 260px;
        margin-left: -15px;
        margin-top: 20px;
    }
}
@media (min-width: 500px) {
    .small-mobile-block{
        display: none;
    }
}
@media (min-width: 450px) and (max-width: 500px) {
    .about{
        margin-left: 10px;
    }
    .about-page span{
        width: 400px;
        margin-left: -5vw;
    }
    .about-page .col-4.mr-4 p{
        font-size: 25px;
        width: 200px;
        margin-left: -2vw;
    }
    .more-than-700{
        margin-top: 40px;
        margin-left: 10vw;
    }
    .year-1996{
        margin-top: 440px;
        margin-left: -30vw;
    }
    .more-than-1000{
        margin-left: 10vw;
    }
}

@media (min-width: 400px) and (max-width: 450px) {
    .about{
        margin-left: 15px;
        width: 100px;
    }
    .about-page span{
        width: 400px;
        margin-left: -30px;
    }
    .about-page .col-4.mr-4 p{
        font-size: 25px;
        width: 200px;
        margin-left: -2vw;
    }
    .more-than-700{
        margin-top: 40px;
        margin-left: 10vw;
    }
    .year-1996{
        margin-top: 440px;
        margin-left: -34vw;
    }
    .more-than-1000{
        margin-left: 10vw;
    }
    .concerts-block{
        margin-left: -40px;
    }
}
@media (min-width: 350px) and (max-width: 400px) {
    .about{
        margin-left: 5px;
        width: 100px;
    }
    .about-page span{
        width: 300px;
        margin-left: -10px;
    }
    .about-page .col-4.mr-4 p{
        font-size: 25px;
        width: 200px;
        margin-left: -2vw;
    }
    .more-than-700{
        margin-top: 40px;
        margin-left: 10vw;
    }
    .year-1996{
        margin-top: 440px;
        margin-left: -34vw;
    }
    .more-than-1000{
        margin-left: 5vw;
    }
    .concerts-block{
        margin-left: -10vw;
    }
}
@media (min-width: 450px) and (max-width: 500px) {
    .dnk-block-cart{
        display: none;
    }
    .pay_order p{
        font-size: 12px;
        margin-bottom: 28px;
        margin-left: 10px;
    }
    .pay_order{
        margin-left: -40px;
    }
    .select_place-1-form input{
        width: 255px;
    }
    .line-select_place-2{
        height: 200px;
    }
    .pay{
        margin-top: -200px;
    }
    .change_cashier{
        margin-left: 70px;
        margin-top: -130px;
    }
    .select_place-2-form p{
        display: block;
        margin-left: 120px;
        margin-top: -150px;
    }
    .change_cashier span{
        font-size: 12px;
        margin-left: 50px;
    }
    #change_address{
        width: 255px;
        margin-left: -10px;
    }
    .checkbox-step-4-1{
        margin-left: -20px;
    }
    .dnk-img-cart{
        display: none;
    }
    .dnk-img-search-small{
        margin-left: 100px;
    }
    .dnk-main-scene-block{
        overflow: hidden;
        max-height: 1200px;
    }
    .order-ticket-footer{
        margin-top: -10px;
        height: 80px;
    }
    .select_place-1-form{
        width: 500px;
    }
    .ticket-text{
        display: block;
    }
    .link-dnk-order-copy-mobile{
        display: block;
        margin-left: 25vw;
    }
    .select_place-3-form{
        height: 100px;
    }
    .mobile-pay{
        display: flex;
        margin-top: 50px;
    }
    .cart-mobile-pay{
        margin-right: 10px;
    }
    .arrow-mobile-pay{
        margin-left: 20px;
    }
    .mobile-pay-1{
        margin-top: 10px;
    }
    .mobile-pay-2{
        text-align: left;
    }
    .mobile-pay-2-time{
        font-size: 25px;
    }
}
@media (min-width: 400px) and (max-width: 450px) {
    .dnk-block-cart{
        display: none;
    }
    .pay_order p{
        font-size: 12px;
        margin-bottom: 28px;
        margin-left: 10px;
    }
    .pay_order{
        margin-left: -10vw;
    }
    .select_place-1-form input{
        width: 255px;
    }
    .line-select_place-2{
        height: 200px;
    }
    .pay{
        margin-top: -200px;
    }
    .change_cashier{
        margin-left: 70px;
        margin-top: -130px;
    }
    .select_place-2-form p{
        display: block;
        margin-left: 120px;
        margin-top: -150px;
    }
    .change_cashier span{
        font-size: 12px;
        margin-left: 50px;
    }
    #change_address{
        width: 255px;
        margin-left: -10px;
    }
    .checkbox-step-4-1{
        margin-left: -20px;
    }
    .dnk-img-cart{
        display: none;
    }
    .dnk-img-search-small{
        margin-left: 100px;
    }
    .dnk-main-scene-block{
        overflow: hidden;
        max-height: 1200px;
    }
    .order-ticket-footer{
        margin-top: -10px;
        height: 80px;
    }
    .select_place-1-form{
        width: 500px;
    }
    .ticket-text{
        display: block;
    }
    .link-dnk-order-copy-mobile{
        display: block;
        margin-left: 25vw;
    }
    .select_place-3-form{
        height: 100px;
    }
    .mobile-pay{
        display: flex;
        margin-top: 50px;
    }
    .cart-mobile-pay{
        margin-right: 10px;
    }
    .arrow-mobile-pay{
        margin-left: 10px;
    }
    .mobile-pay-1{
        margin-top: 10px;
    }
    .mobile-pay-2{
        text-align: left;
    }
    .mobile-pay-2-time{
        font-size: 25px;
    }
}
@media (min-width: 350px) and (max-width: 400px) {
    .dnk-block-cart{
        display: none;
    }
    .pay_order p{
        font-size: 12px;
        margin-bottom: 28px;
        margin-left: 10px;
    }
    .pay_order{
        margin-left: -15vw;
    }
    .select_place-1-form input{
        width: 255px;
    }
    .line-select_place-2{
        height: 200px;
    }
    .pay{
        margin-top: -200px;
    }
    .change_cashier{
        margin-left: 70px;
        margin-top: -130px;
    }
    .select_place-2-form p{
        display: block;
        margin-left: 120px;
        margin-top: -150px;
    }
    .change_cashier span{
        font-size: 10px;
        margin-left: 60px;
    }
    #change_address{
        width: 255px;
        margin-left: 50px;
    }
    .checkbox-step-4-1{
        margin-left: -20px;
    }
    .dnk-img-cart{
        display: none;
    }
    .dnk-img-search-small{
        margin-left: 60px;
    }
    .dnk-main-scene-block{
        overflow: hidden;
        max-height: 1200px;
    }
    .order-ticket-footer{
        margin-top: -10px;
        height: 80px;
    }
    .select_place-1-form{
        width: 500px;
    }
    .ticket-text{
        display: block;
    }
    .link-dnk-order-copy-mobile{
        display: block;
        margin-left: 25vw;
    }
    .select_place-3-form{
        height: 100px;
    }
    .mobile-pay{
        display: flex;
        margin-top: 50px;
    }
    .cart-mobile-pay{
        margin-right: 10px;
    }
    .arrow-mobile-pay{
        margin-left: 10px;
    }
    .mobile-pay-1{
        margin-top: 10px;
        font-size: 12px;
    }
    .mobile-pay-2{
        text-align: left;
        font-size: 12px;
    }
    .mobile-pay-2-time{
        font-size: 20px;
    }
    .check-name{
        margin-left: -10px;
    }
    .select_place{
        width: 300px;
    }
}
@media (min-width: 1400px) and (max-width: 1500px) {
    .pay_order{
        margin-left: 15vw;
    }
    .place-order-ticket{
        margin-left: 5vw;
    }
    .order-ticket-header b{
        margin-left: 5vw;
    }
    .order-ticket-footer p{
        font-size: 14px;
    }
    .order-ticket-footer span{
        font-size: 14px;
    }
}
@media (min-width: 1300px) and (max-width: 1400px) {
    .pay_order{
        margin-left: 10vw;
    }
    .place-order-ticket{
        margin-left: 5vw;
    }
    .order-ticket-header b{
        margin-left: 5vw;
    }
    .order-ticket-footer p{
        font-size: 12px;
    }
    .order-ticket-footer span{
        font-size: 12px;
    }
}
@media (min-width: 1200px) and (max-width: 1300px) {
    .pay_order{
        margin-left: 9vw;
    }
    .place-order-ticket{
        margin-left: 8vw;
    }
    .order-ticket-header b{
        margin-left: 8vw;
    }
    .order-ticket-footer p{
        font-size: 11px;
    }
    .order-ticket-footer span{
        font-size: 11px;
    }
}
@media (min-width: 1100px) and (max-width: 1200px) {
    .pay_order{
        margin-left: 6vw;
    }
    .place-order-ticket{
        margin-left: 10vw;
    }
    .order-ticket-header b{
        margin-left: 10vw;
    }
}
@media (min-width: 1000px) and (max-width: 1100px) {
    .pay_order{
        margin-left: 5vw;
    }
    .place-order-ticket{
        margin-left: 12vw;
    }
    .order-ticket-header b{
        margin-left: 12vw;
    }
}
@media (min-width: 900px) and (max-width: 1000px) {
    .pay_order{
        margin-left: 5vw;
    }
    /*.place-order-ticket{*/
    /*    margin-left: 14vw;*/
    /*}*/
    /*.order-ticket-header b{*/
    /*    margin-left: 14vw;*/
    /*}*/
}
@media (min-width: 1400px) and (max-width: 1500px) {
    .dnk_circle{
        margin: 2px 0px;
    }
    .order-ticket-footer p{
        margin-top: -1px;
    }
    .balcony-section-block{
        margin-left: -50px;
    }
    .parterre-section-block{
        margin-left: -50px;
    }
}
@media (min-width: 1300px) and (max-width: 1400px) {
    .dnk_circle{
        margin: 2px 0px;
    }
    .order-ticket-footer p{
        margin-top: -1px;
    }
    .balcony-section-block{
        margin-left: -50px;
    }
    .parterre-section-block{
        margin-left: -50px;
    }
}
@media (min-width: 1200px) and (max-width: 1300px) {
    .dnk_circle{
        margin: 2px -0.5px;
    }
    .order-ticket-header b{
        font-size: 20px;
    }
    .order-ticket-footer p{
        margin-top: -1px;
    }
    .balcony-section-block{
        margin-left: -80px;
    }
    .parterre-section-block{
        margin-left: -80px;
    }
}
@media (min-width: 1500px) {
    .order-ticket-footer p{
        font-size: 15px;
    }
    .order-ticket-footer p{
        margin-top: -1px;
    }
}
@media (min-width: 1100px) and (max-width: 1200px) {
    #tablet-footer img{
        display: block;
        width: 25px;
    }
    #tablet-footer p{
        font-size: 8px;
    }
    .col-dnk-tablet{
        flex: 100%;
        max-width: 100%;
    }
    .delete_ticket img{
       display: none;
    }
    .dnk-block-scene .col-lg-2{
        display: none;
    }
    .dnk_circle{
        margin: 2px 1px;
    }
    .custom-switch{
        display: block;
    }
    .dnk-block-scene .col-lg-10{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .empty_block_cart p{
        display: none;
    }
    .empty_block_cart span{
        margin-bottom: 50px;
    }
    .link-dnk-empty-cart{
        margin-left: -2vw;
    }
    #clearCart{
        margin-left: -2vw;
    }
    .filter_colors_tablet{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 160px;
        background-color: whitesmoke;
    }
    .filter_colors_tablet .price{
        color: black;
    }
    .dnk_filter_circle:first-child{
        margin-left: 50px;
    }
    .dnk_filter_circle{
        margin-right: 50px;
    }
    .link-dnk-ticket-id{
        margin-top: -40px;
    }
    .custom-control-label{
        color: black;
    }
    .filter_colors_tablet .custom-switch{
        position: absolute;
        left: 50px;
        margin-top: 100px;
    }
    .total_price{
        margin-left: 20px;
    }
}
@media (min-width: 1000px) and (max-width: 1100px) {
    .tablet-header-logo{
        width: 35vw;
    }
    #tablet-footer img{
        display: block;
        width: 25px;
    }
    #tablet-footer p{
        font-size: 8px;
    }
    #tablet-footer{
        display: block;
    }
    #tablet-footer{
        display: block;
    }
    #tablet-footer img{
        display: block;
        width: 25px;
    }
    #tablet-footer p{
        font-size: 8px;
    }
    .col-dnk-tablet{
        flex: 100%;
        max-width: 100%;
    }
    .delete_ticket img{
        display: none;
    }
    .dnk-block-scene .col-lg-2{
        display: none;
    }
    .dnk_circle{
        margin: 2px 0px;
    }
    .balcony-section-block{
        margin-left: -50px;
    }
    .parterre-section-block{
        margin-left: -50px;
    }
    .custom-switch{
        display: block;
    }
    .dnk-block-scene .col-lg-10{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .empty_block_cart p{
        display: none;
    }
    .empty_block_cart span{
        margin-bottom: 50px;
    }
    .link-dnk-empty-cart{
        margin-left: -2vw;
    }
    #clearCart{
        margin-left: -3vw;
    }
    .filter_colors_tablet{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 160px;
        background-color: whitesmoke;
    }
    .filter_colors_tablet .price{
        color: black;
    }
    .dnk_filter_circle:first-child{
        margin-left: 50px;
    }
    .dnk_filter_circle{
        margin-right: 50px;
    }
    .link-dnk-ticket-id{
        margin-top: -40px;
    }
    .custom-control-label{
        color: black;
    }
    .filter_colors_tablet .custom-switch{
        position: absolute;
        left: 50px;
        margin-top: 100px;
    }
    .total_price{
        margin-left: 20px;
    }
    .select_place-1-form{
        width: 500px;
    }
}
@media (min-width: 900px) and (max-width: 1000px) {

    .tablet-header-logo {
        margin-top: 10px;
        width: 28vw;
    }
    #tablet-footer img{
        display: block;
        width: 25px;
    }
    #tablet-footer p{
        font-size: 15px;
    }
    #tablet-footer span{
        font-size: 15px;
    }
    .col-dnk-tablet{
        flex: 100%;
        max-width: 100%;
    }
    .delete_ticket img{
        display: none;
    }
    .dnk-block-scene .col-lg-2{
        display: none;
    }
    .dnk_circle{
        margin: 2px 0px;
    }
    .balcony-section-block{
        margin-left: -50px;
    }
    .parterre-section-block{
        margin-left: -50px;
    }
    .custom-switch{
        display: block;
    }
    .dnk-block-scene .col-lg-10{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .empty_block_cart p{
        display: none;
    }
    .empty_block_cart span{
        margin-bottom: 50px;
    }
    .link-dnk-empty-cart{
        margin-left: -2vw;
    }
    #clearCart{
        margin-left: -3vw;
    }
    .filter_colors_tablet{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 160px;
        background-color: whitesmoke;
    }
    .filter_colors_tablet .price{
        color: black;
    }
    .dnk_filter_circle:first-child{
        margin-left: 50px;
    }
    .dnk_filter_circle{
        margin-right: 50px;
    }
    .link-dnk-ticket-id{
        margin-top: -40px;
    }
    .custom-control-label{
        color: black;
    }
    .filter_colors_tablet .custom-switch{
        position: absolute;
        left: 50px;
        margin-top: 100px;
    }
    .total_price{
        margin-left: 20px;
    }
    .select_place-1-form{
        width: 570px;
    }
    .mobile-pay-1{
        display: none;
    }
    .mobile-pay-2{
        display: none;
    }
}
@media (min-width: 800px) and (max-width: 900px) {

    .tablet-header-logo {
        width: 28vw;
        margin-top: 10px;
    }
    .date-order-ticket{
        font-size: 12px;
    }
    .order-ticket-header b{
        font-size: 20px;
    }
    #tablet-footer img{
        display: block;
        width: 25px;
    }
    #tablet-footer p{
        font-size: 12px;
    }
    #tablet-footer span{
        font-size: 12px;
    }
    .col-dnk-tablet{
        flex: 100%;
        max-width: 100%;
    }
    .dnk-block-cart .btn{
        font-size: 12px;
    }
    .fio{
        width: 370px;
    }
    .total_price{
        margin-left: 10px;
    }
    .delete_ticket img{
        display: none;
    }
    .dnk-block-scene .col-lg-2{
        display: none;
    }
    .dnk_circle{
        margin: 2px -0.1px;
    }
    .balcony-section-block{
        margin-left: -50px;
    }
    .parterre-section-block{
        margin-left: -50px;
    }
    .custom-switch{
        display: block;
    }
    .dnk-block-scene .col-lg-10{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .empty_block_cart p{
        display: none;
    }
    .empty_block_cart span{
        margin-bottom: 50px;
    }
    .link-dnk-empty-cart{
        margin-left: -2vw;
    }
    #clearCart{
        margin-left: -3vw;
    }
    .filter_colors_tablet{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 160px;
        background-color: whitesmoke;
    }
    .filter_colors_tablet .price{
        color: black;
    }
    .dnk_filter_circle:first-child{
        margin-left: 50px;
    }
    .dnk_filter_circle{
        margin-right: 50px;
    }
    .link-dnk-ticket-id{
        margin-top: -40px;
    }
    .custom-control-label{
        color: black;
    }
    .filter_colors_tablet .custom-switch{
        position: absolute;
        left: 50px;
        margin-top: 100px;
    }
    .select_place-1-form{
        width: 550px;
    }
    .select_place-2-form p{
        font-size: 15px;
    }
    .mobile-pay-1{
        display: none;
    }
    .mobile-pay-2{
        display: none;
    }
    .col-dnk-tablet{
        font-size: 15px;
    }
}
@media (min-width: 700px) and (max-width: 800px) {

    .tablet-header-logo {
        width: 28vw;
        margin-top: 10px;
    }
    .date-order-ticket{
        font-size: 10px;
    }
    .order-ticket-header b{
        font-size: 18px;
    }
    #tablet-footer img{
        display: block;
        width: 25px;
    }
    #tablet-footer p{
        font-size: 8px;
    }
    #tablet-footer p{
        font-size: 10px;
    }
    #tablet-footer span{
        font-size: 10px;
    }
    .col-dnk-tablet{
        flex: 100%;
        max-width: 100%;
    }
    .delete_ticket img{
        display: none;
    }
    .dnk-block-scene .col-lg-2{
        display: none;
    }
    .dnk_circle{
        margin: 2px -1px;
    }
    .balcony-section-block{
        margin-left: -100px;
    }
    .parterre-section-block{
        margin-left: -100px;
    }
    .custom-switch{
        display: block;
    }
    .dnk-block-scene .col-lg-10{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .empty_block_cart p{
        display: none;
    }
    .empty_block_cart span{
        margin-bottom: 50px;
    }
    .link-dnk-empty-cart{
        margin-left: -2vw;
    }
    #clearCart{
        margin-left: -3vw;
    }
    .filter_colors_tablet{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 160px;
        background-color: whitesmoke;
    }
    .filter_colors_tablet .price{
        color: black;
    }
    .dnk_filter_circle:first-child{
        margin-left: 50px;
    }
    .dnk_filter_circle{
        margin-right: 50px;
    }
    .link-dnk-ticket-id{
        margin-top: -40px;
    }
    .custom-control-label{
        color: black;
    }
    .filter_colors_tablet .custom-switch{
        position: absolute;
        left: 50px;
        margin-top: 100px;
    }
    .mobile-pay-1{
        display: none;
    }
    .mobile-pay-2{
        display: none;
    }
    .dnk-block-cart{
        display: none;
    }
    .pay_order{
        margin-left: 6vw !important;
    }
    .select_place-2-form{
        width: 600px;
    }
}
@media (min-width: 600px) and (max-width: 700px) {

    .tablet-header-logo {
        width: 28vw;
        margin-top: 10px;
    }
    .date-order-ticket{
        font-size: 8px;
    }
    .order-ticket-header b{
        font-size: 16px;
    }
    #tablet-footer img{
        display: block;
        width: 25px;
    }
    #tablet-footer p{
        font-size: 8px;
    }
    #tablet-footer p{
        font-size: 8px;
    }
    #tablet-footer span{
        font-size: 8px;
    }
    .col-dnk-tablet{
        flex: 100%;
        max-width: 100%;
    }
    .dnk-block-cart{
        display: none;
        font-size: 12px;
    }
    .pay_order p{
        font-size: 20px;
    }
    .delete_ticket img{
        display: none;
    }
    .dnk-block-scene .col-lg-2{
        display: none;
    }
    .dnk-block-scene .dnk_circle {
        font-size: 6px;
    }
    .dnk_circle{
        margin: 2px -2px;
    }
    .balcony-section-block{
        margin-left: -170px;
    }
    .parterre-section-block{
        margin-left: -170px;
    }
    .custom-switch{
        display: block;
    }
    .dnk-block-scene .col-lg-10{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .empty_block_cart p{
        display: none;
    }
    .empty_block_cart span{
        margin-bottom: 50px;
    }
    .link-dnk-empty-cart{
        margin-left: -2vw;
    }
    #clearCart{
        margin-left: -3vw;
    }
    .filter_colors_tablet{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 160px;
        background-color: whitesmoke;
    }
    .filter_colors_tablet .price{
        color: black;
    }
    .dnk_filter_circle:first-child{
        margin-left: 50px;
    }
    .dnk_filter_circle{
        margin-right: 50px;
    }
    .link-dnk-ticket-id{
        margin-top: -40px;
    }
    .custom-control-label{
        color: black;
    }
    .filter_colors_tablet .custom-switch{
        position: absolute;
        left: 50px;
        margin-top: 100px;
    }
    .mobile-pay-1{
        display: none;
    }
    .mobile-pay-2{
        display: none;
    }
    .dnk-block-cart{
        display: none;
    }
}
@media (min-width: 500px) and (max-width: 600px) {

    .tablet-header-logo {
        width: 28vw;
        margin-top: 10px;
    }
    .date-order-ticket{
        font-size: 6px;
    }
    .order-ticket-header b{
        font-size: 14px;
    }
    #tablet-footer img{
        display: block;
        width: 25px;
    }
    #tablet-footer p{
        font-size: 8px;
    }
    #tablet-footer p{
        font-size: 6px;
    }
    #tablet-footer span{
        font-size: 8px;
    }
    .col-dnk-tablet{
        flex: 100%;
        max-width: 100%;
    }
    .delete_ticket img{
        display: none;
    }
    .dnk-block-scene .col-lg-2{
        display: none;
    }
    .dnk_circle{
        margin: 2px -2.5px;
    }
    .dnk-block-scene .dnk_circle {
        font-size: 5px;
    }
    .balcony-section-block{
        margin-left: -200px;
    }
    .parterre-section-block{
        margin-left: -200px;
    }
    .custom-switch{
        display: block;
    }
    .dnk-block-scene .col-lg-10{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .empty_block_cart p{
        display: none;
    }
    .empty_block_cart span{
        margin-bottom: 50px;
    }
    .link-dnk-empty-cart{
        margin-left: -2vw;
    }
    #clearCart{
        margin-left: -3vw;
    }
    .filter_colors_tablet{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 160px;
        background-color: whitesmoke;
    }
    .filter_colors_tablet .price{
        color: black;
    }
    .dnk_filter_circle:first-child{
        margin-left: 50px;
    }
    .dnk_filter_circle{
        margin-right: 50px;
    }
    .link-dnk-ticket-id{
        margin-top: -40px;
    }
    .custom-control-label{
        color: black;
    }
    .filter_colors_tablet .custom-switch{
        position: absolute;
        left: 50px;
        margin-top: 100px;
    }
    .mobile-pay-1{
        display: none;
    }
    .mobile-pay-2{
        display: none;
    }
    .dnk-block-cart{
        display: none;
    }
    .pay_order{
        margin-left: -10vw !important;
    }
}
@media (min-width: 450px) and (max-width: 500px) {
.dnk-header{
    display: block;
}

    .tablet-header-logo {
        width: 28vw;
        margin-top: 10px;
    }
    .date-order-ticket{
        font-size: 6px;
    }
    .order-ticket-header b{
        font-size: 14px;
    }
    #tablet-footer img{
        display: block;
        width: 25px;
    }
    #tablet-footer p{
        font-size: 8px;
    }
    #tablet-footer p{
        font-size: 6px;
    }
    #tablet-footer span{
        font-size: 8px;
    }
    .col-dnk-tablet{
        flex: 100%;
        max-width: 100%;
    }
    .delete_ticket img{
        display: none;
    }
    .dnk-block-scene .col-lg-2{
        display: none;
    }
    .dnk_circle{
        margin: 2px -3px;
    }
    .dnk-block-scene .dnk_circle {
        font-size: 5px;
    }
    .balcony-section-block{
        margin-left: -220px;
    }
    .parterre-section-block{
        margin-left: -220px;
    }
    .custom-switch{
        display: block;
    }
    .dnk-block-scene .col-lg-10{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .dnk-scene-text{
        width: 40vw;
    }
    .filter_colors_tablet{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 160px;
        background-color: whitesmoke;
    }
    .filter_colors_tablet .price{
        color: black;
    }
    .dnk_filter_circle:first-child{
        margin-left: 50px;
    }
    .dnk_filter_circle{
        margin-right: 50px;
    }
    .south-section-block,
    .north-section-block,
    .parterre-section-block,
    .balcony-section-block,
    .additional-north-fst-label-block,
    .additional-north-snd-label-block,
    .additional-south-label-block{
        font-size: 10px;
    }
    .custom-control-label{
        color: black;
    }
    .filter_colors_tablet .custom-switch{
        position: absolute;
        left: 50px;
        margin-top: 100px;
    }
    .dnk-block-cart{
        display: none;
    }

}
@media (min-width: 400px) and (max-width: 450px) {
    .dnk-header{
        display: block;
    }

    .tablet-header-logo {
        width: 28vw;
        margin-top: 10px;
    }
    .date-order-ticket{
        font-size: 6px;
    }
    .order-ticket-header b{
        font-size: 14px;
    }
    #tablet-footer img{
        display: block;
        width: 25px;
    }
    #tablet-footer p{
        font-size: 8px;
    }
    #tablet-footer p{
        font-size: 6px;
    }
    #tablet-footer span{
        font-size: 8px;
    }
    .col-dnk-tablet{
        flex: 100%;
        max-width: 100%;
    }
    .dnk-block-cart{
        display: none;
        font-size: 15px;
    }
    .delete_ticket img{
        display: none;
    }
    .dnk-block-scene .col-lg-2{
        display: none;
    }
    .dnk_circle{
        margin: 2px -3.5px;
    }
    .dnk-block-scene .dnk_circle {
        font-size: 5px;
    }
    .balcony-section-block{
        margin-left: -250px;
    }
    .parterre-section-block{
        margin-left: -250px;
    }
    .custom-switch{
        display: block;
    }
    .dnk-block-scene .col-lg-10{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .south-section-block,
    .north-section-block,
    .parterre-section-block,
    .balcony-section-block,
    .additional-north-fst-label-block,
    .additional-north-snd-label-block,
    .additional-south-label-block{
        font-size: 8px;
    }
    .dnk-scene-text{
        width: 40vw;
    }
    .filter_colors_tablet{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 160px;
        background-color: whitesmoke;
    }
    .filter_colors_tablet .price{
        color: black;
    }
    .dnk_filter_circle:first-child{
        margin-left: 50px;
    }
    .dnk_filter_circle{
        margin-right: 50px;
    }
    .custom-control-label{
        color: black;
    }
    .filter_colors_tablet .custom-switch{
        position: absolute;
        left: 50px;
        margin-top: 100px;
    }
    .dnk-block-cart{
        display: none;
    }
}
@media (min-width: 375px) and (max-width: 400px) {
    .dnk-header{
        display: block;
    }

    .tablet-header-logo {
        width: 28vw;
        margin-top: 10px;
    }
    .date-order-ticket{
        font-size: 6px;
    }
    .order-ticket-header b{
        font-size: 14px;
    }
    #tablet-footer img{
        display: block;
        width: 25px;
    }
    #tablet-footer p{
        font-size: 8px;
    }
    #tablet-footer p{
        font-size: 6px;
    }
    #tablet-footer span{
        font-size: 8px;
    }
    .col-dnk-tablet{
        flex: 100%;
        max-width: 100%;
    }
    .dnk-block-cart{
        display: none;
        font-size: 15px;
    }
    .delete_ticket img{
        display: none;
    }
    .dnk-block-scene .col-lg-2{
        display: none;
    }
    .dnk_circle{
        margin: 2px -3.7px;
    }
    .dnk-block-scene .dnk_circle {
        font-size: 5px;
    }
    .balcony-section-block{
        margin-left: -250px;
    }
    .parterre-section-block{
        margin-left: -250px;
    }
    .custom-switch{
        display: block;
    }
    .dnk-block-scene .col-lg-10{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .south-section-block,
    .north-section-block,
    .parterre-section-block,
    .balcony-section-block,
    .additional-north-fst-label-block,
    .additional-north-snd-label-block,
    .additional-south-label-block{
       font-size: 5px;
    }
    .dnk-scene-text{
        width: 40vw;
    }
    .filter_colors_tablet{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 160px;
        background-color: whitesmoke;
    }
    .filter_colors_tablet .price{
        color: black;
    }
    .dnk_filter_circle:first-child{
        margin-left: 50px;
    }
    .dnk_filter_circle{
        margin-right: 50px;
    }
    .custom-control-label{
        color: black;
    }
    .filter_colors_tablet .custom-switch{
        position: absolute;
        left: 50px;
        margin-top: 100px;
    }
    .dnk-block-cart{
        display: none;
    }
}
@media (max-width: 1200px){
    .book{
        display: none;
    }
    .order-ticket-header-logo{
        width: 30vw;
    }
    .order-ticket-header .name{
        margin-left: -10vw;
    }
    .order-ticket-header .data{
        margin-right: 10vw;
    }
    .order-ticket-footer-block-desktop{
        display: none;
    }
}
@media (min-width: 1200px){
    .order-ticket-footer-block-tablet{
        display: none;
    }
    .pay_order{
        margin-left: 20vw !important;
    }
}
@media (min-width: 1000px){
    .mobile-cart{
        display: none;
    }
}
@media (min-width: 1300px) and (max-width: 1400px){
    .order-ticket-header-logo{
        width: 25vw;
    }
    .total_price{
         margin-left: 80px;
         }
}
@media (min-width: 1200px) and (max-width: 1300px){
    .order-ticket-header-logo{
        width: 25vw;
    }
    .total_price{
        margin-left: 50px;
    }
}
@media (min-width: 1500px) and (max-width: 1600px){
    .order-ticket-header-logo{
        width: 25vw;
    }
}
@media (min-width: 500px) and (max-width: 1000px){
    .order-ticket-header-logo{
        width: 25vw;
        margin-top: 20px;
    }
    .place-order-ticket{
        font-size: 10px;
    }
    .order-ticket-header b{
        font-size: 15px;
    }
}
@media (max-width: 500px){
    .order-ticket-footer-block-tablet span{
        font-size: 10px;
    }
    .order-ticket-footer-block-tablet p{
        font-size: 10px;
    }
}
