.scene-block {
    width: 100%;
    height: 100%;
    position: relative;
}

.dk_machine_overlay {
    width: 100%;
    height: 100%;
    /*position: absolute;*/
}

.dnk-scene-text {
    width: 370px;
    height: 45px;
    margin: 0 auto;
    color: #fff;
    background-color: #112535;
    font-size: 14px;
    padding: 16px;
    text-align: center;
}

.dnk-scene-text h1 {
    font-size: 14px;
}

.south-section-block, .north-section-block {
    top: 145px;
}

.south-section-block {
    left: -10px;
}

.north-section-block {
    right: 0;
}

.south-section-text, .north-section-text {
    width: .75em;
}

.parterre-section-block {
    top: -11px;
    left: 415px;
}

.balcony-section-block {
    /*top: 445px;*/
    /*left: 500px;*/
    top: 380px;
    left: 415px;
}

.scene-section-block {
    position: absolute;
    color: #000;
    font-size: 14px;
}

.dk_machine_scene {
    position: absolute;
}

.filter_block {
    margin-top: 40px;
}
.dnk_filter_circle > .dnk_circle,
.price_booked > .dnk_circle {
    width: 16px;
    height: 16px;
}
.dnk_filter_circle {
    margin-top: 20px;
    margin-bottom: 20px;
}
.price_booked {
    margin-top: 20px;
}
.dnk_filter_circle > .dnk_circle,
.filter_colors > .price_booked > .dnk_circle {
    margin: 0 auto;
}
.dnk_filter_circle {
    position: relative;
}
.dnk_filter_circle > .dnk_circle:hover {
    cursor: pointer;
}

.house_prices_order {
    margin-bottom: 20px;
}

.price {
    margin-top: 5px;
}

.dnk-block-scene .dnk_circle {
    font-size: 8px;
}

.dnk-scene-text-block {
    padding-left: 40px;
}

.additional-labels {
    top: 80px;
    font-size: 10px;
}
.additional-south-label-block {
    left: 17px;
}

.additional-north-fst-label-block {
    right: 55px;
}

.additional-north-snd-label-block {
    right: 25px;
}

.ajax-scene {
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
}

/*.scene-overlay {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: black;*/
/*    opacity: .4;*/
/*}*/

.scene-overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}