* {
    outline:  none;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
.admin-scene {
    font-weight: 600;
    font-size: 9px;
    line-height: 15px;
    color: #fff;
}

.modal-open .modal {
    overflow-y: hidden;
}

/*#table_tickets tr, th, td {*/
/*    text-align: center;*/
/*    border: 1px solid black !important;*/
/*}*/

#table_tickets th, #table_tickets td {
    padding: 2px;
}

.modal-dialog {
    max-width: 310px !important;
}
.ticket_color {
    border: 2px solid #000 !important;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

#table_tickets tr td:nth-child(2) {
    width: 50px;
}

tr.ticket_block:hover {
    cursor: pointer;
    background-color: #1d68a7;
}

tr.ticket_block.active {
    cursor: pointer;
    background-color: #fff8b3;
    outline: none;
}

.apply_prices_block {
    margin-top: 100px;
}
.modal-apply-body {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#modal_place {
    display: none;
}

.modal-save-body .msg {
    display: none;
}

.scene-title-block {
    display: flex;
    justify-content: center;
}

.table-addresses-text {
    width: 400px;
}

.concerts_block td, .dropdown-menu {
    font-weight: 400;
}

#table_tickets th{
    padding: 10px;
}

#table_tickets td{
    padding: 10px;
}

