* {
    outline:  none;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
.voyager_main{
    min-height: 180vh;
}
.footer_voyager{
    position: absolute;
    bottom: 0px;
}